.navbarcont {
    position: fixed;
    bottom: 10px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    max-width: 600px; /* Adjust as needed */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    backdrop-filter: blur(10px);
    border-radius: 100px;
    padding: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
}

nav {
    border-radius: 12px;
    background: rgba(0, 0, 0, 0); /* Adjust opacity as needed */
    padding: 0 15px;
    width: 100%;
}

.nav-content {
    display: flex;
    height: 80px;
    align-items: center;
    list-style: none;
    position: relative;
}

.link-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 120px;
    width: 95px;
    text-decoration: none;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.link-item.active {
    transform: translateY(-10px);
}

.link-icon {
    font-size: 38px;
    color: #999;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.link-item.active .link-icon {
    color: #4070F4;
}

.link-text {
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    color: #4070F4;
    opacity: 0;
    transform: translateY(32px);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.link-item.active .link-text {
    opacity: 1;
}
