<?xml version="1.0" encoding="UTF-8"?>

<web-app 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns="https://jakarta.ee/xml/ns/jakartaee" 
    xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" 
    version="6.0">
      
    <display-name>IT2030-2024-Tharindu</display-name>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <description></description>
        <display-name>LoginServlet</display-name>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>serverlet.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <description></description>
        <display-name>Signup</display-name>
        <servlet-name>Signup</servlet-name>
        <servlet-class>serverlet.Signup</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    
     <!-- Add servlet and mapping for AppointmentServlet -->
    <servlet>
        <description></description>
        <display-name>AppointmentServlet</display-name>
        <servlet-name>AppointmentServlet</servlet-name>
        <servlet-class>serverlet.AppointmentServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AppointmentServlet</servlet-name>
        <url-pattern>/AppointmentServlet</url-pattern>
    </servlet-mapping>
    
    

</web-app>